# macOS-related files
.DS_Store
.AppleDouble
.LSOverride

gui.rpy
options.rpy
screens.rpy

# Windows-related files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo

*~
*.bak

saves
tmp
cache
env
gui
tl

log.txt
errors.txt
traceback.txt
